*{
    box-sizing: border-box;
}
body{
    background-image: linear-gradient(150deg,rgba(231, 209, 127, 0.555),rgb(121, 106, 77));
    

}
#cont{
    width: clamp(700px,90vw,1500px);
    height: 80vh;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5%;
    margin-bottom: 5%;
    border: 1px solid black;
    background-image: url(../images/img10.jpg);
    background-repeat: no-repeat;
    background-size: clamp(700px,90vw,1500px) 80vh;
   /* animation-name: cont;
    animation-iteration-count: infinite;
    animation-timing-function: ease-out;
    animation-duration: 3s;*/
    
}
/*@keyframes cont{
    0%{background-image: url(../images/img10.jpg);}
    25%{background-image: url(../images/img2.jpg);}
    75%{background-image: url(../images/img.jpg);}
    100%{background-image: url(../images/img1.jpg);}
}*/
nav{
    /*width: 70vw;*/
    
}
nav ul{
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    list-style-type: none;
    width: 70vw;

    
}
p{
    color: chocolate;
    font-family: cursive;
    text-transform: capitalize;
    position: relative;
    left: 40%;
    top: -1em;
    letter-spacing: 4px;
    animation-name: put;
    animation-duration: 2s;
    animation-timing-function: ease-in-out;
}
@keyframes put{
    0%{transform: translateY(0);}
    100%{transform: translateY(20px);}
}
@media screen and (max-width:550px){
    nav ul{
        
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
    }
    #cont{
        width: clamp(200px,90vw,550px);
        height: 80vh;
        margin-left: auto;
        margin-right: auto;
        margin-top: 5%;
        margin-bottom: 5%;
        border: 1px solid black;
        background-image: url(../images/img10.jpg);
        background-repeat: no-repeat;
        background-size: clamp(200px,90vw,550px) 80vh;
    }
    p{
        color: rgb(235, 149, 88);
        font-family: cursive;
        text-transform: capitalize;
        position: relative;
        left: 10%;
        top: -1em;
        letter-spacing: 4px;
        animation-name: put;
        animation-duration: 2s;
        animation-timing-function: ease-in-out;
    }
    @keyframes put{
        0%{transform: translateY(0);}
        100%{transform: translateY(20px);}
    }
    
}
nav ul a{
    text-decoration: none;
    color: rgb(6, 47, 143);
    font-size: 3.5vh;
    margin-left: 1em;
    font-weight: bolder;
    
}
nav ul a:hover{
    color: cornsilk;
    cursor: pointer;
}

h1{
    width: 20vw;
    padding-left: clamp(1em,2vw,5em);
    
    font-size: 4vw;
    letter-spacing: 5px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    transition: letter-spacing 0.4s ease-in-out;
}


.main{
    position: absolute;
    left: 21vw;
    top: 25vh;
    right: auto;
}

h2{
    width: max-content;
    border: 2px dashed black;
    border-radius: 2em;
    background-color: rgb(165, 152, 14);
    padding: 7px;  
    position: relative;
    left: 40%;
    animation-name: put;
    animation-duration: 2s;
    animation-timing-function: ease-in-out;
}
@keyframes put{
    0%{transform: translateY(0);}
    100%{transform: translateY(20px);}
}

h2 a{
    text-decoration: none;
    color: cornsilk;
}

